.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 42%
    left: 2%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 74%
    left: 12%
    width: 20%
  &-3
    animation: float1 1.8s ease-in-out infinite alternate
    position: absolute
    bottom: 26%
    right: 15%
    width: 20%
  &-4
    animation: float1 2.2s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 9%
    width: 10%
  &-5
    animation: float1 3.1s ease-in-out infinite alternate
    position: absolute
    top: 26%
    right: 30%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.banner-principal .tarjeta
  background-position: left 50% !important
  background-image: url('../assets/curso/portada/fondo-banner-principal-mobile.png') !important

.banner-principal__componente h1,
.banner-principal__descripcion p
  color: #12263F

@media (min-width: 440px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important

@media (min-width: 768px)
  .banner-principal .tarjeta
    padding-right: 0
    overflow: hidden

  .banner-principal__info
    padding-right: 85px !important

@media (min-width: 1024px)
  .banner-principal .tarjeta
    background-image: url('../assets/curso/portada/fondo-banner-principal.png') !important

  .banner-principal__info
    padding-right: unset !important

.banner-principal__row .banner-principal__img
  padding-bottom: 0 !important
  padding-top: 0 !important
  align-self: flex-end

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono
  background-color: $color-primario
.banner-interno__titulo
  h2
    color: $color-primario
.banner-interno__titulo__icono i
  color: $white

.banner-interno__fondo
  background-image: url('../assets/curso/portada/banner-interno.png') !important

figcaption, caption
  font-weight: normal

.bg-color-acento-contenido
  background-color: #00FFDF

.bg-color-acento-contenido-a20
  background-color: #CCFFF9

.bg-color-terciario
  background-color: #05236D
.bg-color-terciario-t5
  background-color: #E5EBFB
  &::before
    background-color: $color-terciario
.bg-color-terciario-t20
  background-color: #9DB5F1

.bg-color-secundario-s5
  background-color: #F5ECFD
  &::before
    background-color: $color-secundario
.bg-color-secundario-s20
  background-color: #DCBAFA

.bg-color-acento-contenido-a5
  background-color: #E4FFFB
.bg-color-acento-contenido-a10
  background-color: #E4FFFB

.bg_lightbluegray
  background-color: #F1F3F6

.bg-gradiente
  background: #7439A8
  background: linear-gradient(90deg, rgba(116, 57, 168, 1) 0%, rgba(83, 41, 120, 1) 100%)

.color-acento-botones
  color: $color-acento-botones

.bg-gradient-morado
  background: #532978
  background: -webkit-linear-gradient(270deg,rgba(83, 41, 120, 1) 0%, rgba(116, 57, 168, 1) 100%)
  background: -moz-linear-gradient(270deg,rgba(83, 41, 120, 1) 0%, rgba(116, 57, 168, 1) 100%)
  background: linear-gradient(270deg,rgba(83, 41, 120, 1) 0%, rgba(116, 57, 168, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#532978",endColorstr="#7439A8",GradientType=0)

.titulo-sexto
  color: #004E7C
  span
    font-weight: 400

// -------------------- Tarjetas Hover
.crd_hover_txt
  position: relative
  padding: 0
  overflow: hidden
  border-radius: 10px
  &--img img
    width: 100%
    min-height: 280px
    object-fit: cover

.crd_hover_txt:hover .crd_hover_txt--body
  transition: all .3s ease-in-out
  transform: translateY(0)

.crd_hover_txt .crd_hover_txt--body
  position: absolute
  padding: 18px 13px 30px
  bottom: 0
  transition: all .3s ease-in-out
  transform: translateY(calc(100% - 55px))
  background-color: #CEDAF8
  &:hover
    background-color: #E4FFFB

.tabla-a
  th
    background-color: #CEDAF8
    border: #707070 1px solid
  td
    border: #707070 1px solid
  thead
    border-color: $color-secundario
  caption
    font-weight: normal
  tr:nth-child(odd)
    background-color: #ffffff

  tr:nth-child(even)
    background-color: #DEE4F0

.tarjeta-avatar
  .tarjeta
    padding-top: 20%!important
  &.small-img
    padding-top: 20px!important
    // @media (min-width: 992px)

    img
      width: auto

// -------------------- Imagen y tarjeta en la mitad
.tarjeta-horz
  display: flex
  flex-direction: column
  align-items: center

  .texto-tarjeta
    width: 92%
    margin: -1em 0 auto 0
    padding: 1.5em
    box-shadow: 0 2px 5px rgba(0,0,0,0.17)
    border-radius: 0.5em
    z-index: 10
    position: relative

// -------------------- Acordion
.acordion
  &__accion__btn--a
    background: $color-secundario
    color: $white

  .tarjeta
    &--morado
      background: #E5D9FF
      padding: 0.75rem 0.75rem 0 0.75rem!important
      .acordion__header
        margin-bottom: 0.75rem!important
        .acordion__titulo h3
          font-size: 18px
      .acordion__contenido__item, p
        padding-bottom: 0.5rem!important
        padding-left: 1.75rem
  .acordion__activo
    background: #E8E8E8

// -------------------- Acordion con numeral - pasos

.linea-tiempo-d.color-secundario
  .linea-tiempo-d__item__number
    background: #F5ECFD
  .linea-tiempo-d__item__content
    background: #E5D9FF
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      color: #fff
    .linea-tiempo-d__item__content
      background: #E8E8E8

.tabs-b__tab
  border-bottom: none

.text-corner
  position: absolute
  font-size: 2.1em
  top: 0
  left: 0
  color: #00B29B
  font-weight: bold

.bg-full-width // contenedor siguiente con las classes p-5
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem

.bg01
  background-image: url(../assets/curso/bg/bg01.png) !important
  background-position: 0 0

.bg02
  background-image: url(../assets/curso/bg/bg02.png) !important
  background-position: 0 0
